<h3>Jokes incoming</h3>
<p *ngIf="currentJoke!=undefined">{{currentJoke.setup}}</p>
<p *ngIf="currentJoke!=undefined">{{currentJoke.delivery}}</p>
<p *ngIf="currentJoke!=undefined">{{currentJoke.rating}}</p>
