<p>login-form works!</p>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    
<input type="text" ngModel name="userName" 
placeholder="Enter your username" required
minlength="4" #userName="ngModel"/>

<input type="text" ngModel name="password" 
placeholder="Enter your password" required
minlength="6"/>

<button type="submit" [disabled]="loginForm.form.invalid">Login 'For Real'</button>
</form>

<div *ngIf="userName.errors && (userName.touched)">
    <p *ngIf="userName.errors['required']" > required please enter a username </p>
    <p *ngIf="userName.errors['minlength']" > too short</p>
</div>

