<app-joke-list-item [currentJoke]="jokes[jokeIndexer]"></app-joke-list-item>
<h3>{{currentUser.email}}</h3>
<button (click)="handleNextJoke()">Next</button>
<button (click)="handleJokeUpvote()">🤣</button>
<button (click)="handleJokeDownvote()">😑</button>
