<p>login-page works!</p>
<button (click)="loginWithKeycloak()">Keycloak Login</button>
<button (click)="logoutWithKeycloak()">Keycloak Logout</button>
<button (click)="ShowToken()">Show Token</button>
<button (click)="UseToken()">Use Token (to get data)</button>